.logo {
  transition: 1s ease-in-out;
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
}

.home-left,
.home-right {
  padding: 60px;
}

.left-retract {
  flex: 1;
}

.left-extend {
  // background-color: #ffe135;
  flex: 2;
  .logo {
    transform: scale(1.3);
  }
}

.home-left {
  transition-duration: 1s;
  padding-left: 10vw;
}

.home-right {
  background-color: gray;
  transition: ease-in-out 1s;
  .canvas {
    transition-duration: 1s;
  }
}
