@keyframes wave-translate {
  0% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(-45%);
  }
}

@keyframes wavy {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg) translateY(10px) translateX(10px);
  }
  75% {
    transform: rotate(-5deg) translateY(-5px) translate(0px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home-button {
  display: flex;
  flex-direction: column;
  user-select: none;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  width: 340px;
  overflow: hidden;
  transition-duration: 1s;
  .nav-link {
    flex: 1;
    color: black;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    transform: rotate(0deg);
    transition: 0.2s;
  }
  .wave {
    flex: 2;
    width: 200%;
    visibility: hidden;
  }
}

.home-button:hover {
  a {
    animation: wavy 4s infinite;
    animation-timing-function: linear;
    color: $highlight-color;
  }
  .wave {
    animation: wave-translate 4s infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
    visibility: visible;
    transform: translateX(-4%);
  }
}

@media screen and (max-width: 1200px) {
  .home-button {
    visibility: hidden;
    .nav-link {
      font-size: 1em;
      animation: none !important;
    }
    .wave {
      visibility: hidden !important;
    }
  }
}